 /*
Author: Ramin
Skype: Damosss15
Mail: Menimsan@mail.ru
*/
 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
 blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
 img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
 b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
 caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
 footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;
	background-position:0 0;background-repeat:no-repeat;background-color:transparent
}
input[type="checkbox"],
input[type="radio"] {
	vertical-align:middle
}
input {margin:0;padding:0;border:0;outline:0;}
select,textarea {margin:1px;padding:3px;outline:0;-webkit-appearance: none;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
ol,ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0}

h1,h2,h3,h4,h5 {font-weight:700;line-height:normal}
h1 {font-size:2em}
h2 {font-size:1.5em}
h3 {font-size:1.17em}
h4 {font-size:1em}
h5 {font-size:0.83em}
h6 {font-size:0.67em}

body {font:12px Arial,Tahoma,Verdana;text-align:left;color:#333;background: #fff;min-width:970px;line-height:1}
a {color:#0a82a8;text-decoration:underline}
a:hover {text-decoration:none}

/*__________ Reset #END __________*/
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.no-bg {background:none !important}
.margin-no {margin:0 !important}
/*__________ General __________*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@font-face {
	font-family: 'PTSans-NarrowBold';
	src: url('../fonts/PTSans-NarrowBold.eot?') format('eot'), 
	     url('../fonts/PTSans-NarrowBold.woff') format('woff'), 
	     url('../fonts/PTSans-NarrowBold.ttf')  format('truetype'),
	     url('../fonts/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot?') format('eot'), 
	     url('../fonts/Calibri.woff') format('woff'), 
	     url('../fonts/Calibri.ttf')  format('truetype'),
	     url('../fonts/Calibri.svg#Calibri') format('svg');
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Bold.eot?') format('eot'), 
	     url('../fonts/Calibri-Bold.woff') format('woff'), 
	     url('../fonts/Calibri-Bold.ttf')  format('truetype'),
	     url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
	font-weight:bold;
	font-style:normal;
}
@font-face {
	font-family: 'Calibri-Light';
	src: url('../fonts/Calibri-Light.eot?') format('eot'), 
	     url('../fonts/Calibri-Light.woff') format('woff'), 
	     url('../fonts/Calibri-Light.ttf')  format('truetype'),
	     url('../fonts/Calibri-Light.svg#Calibri-Light') format('svg');
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.header{
	background: url(../images/bg-header.jpg) no-repeat top center;
	width: 100%;
	float: left;
	height: 423px;
}

.header-top{
	width: 100%;
	float: left;
	margin-top: 18px;
}

.logo {
    float: left;
}

.logo img{
	width: 112px;
	height: 74px;
}

.header-top h1 {
    color: #675062;
    float: left;
    font: 19.8px 'PTSans-NarrowBold';
    margin: 27px 0 0 78px;
    text-transform: uppercase;
}

.contacts{
	float: right;
	margin-top: 5px;
	width: 235px;
}

.contacts .number{
	background: url(../images/ico/icon-phone.png) no-repeat 0 3px;
	font: 23px 'PTSans-NarrowBold';
	color: #4a4848;
	padding: 0 0 5px 45px;
	float: left;
}

.contacts .mail{
	background: url(../images/ico/icon-mail.png) no-repeat 0 3px;
	font: 25px 'PTSans-NarrowBold';
}

.intro{
	float: left;
	width: 100%;
	margin-top: 42px;
}

.advantage,
.intro h2{
	font: 26px 'PTSans-NarrowBold';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	float: left;
	width: 100%;
}

.intro .for{
	background: #FFA235;
	padding: 0 5px;
	border-bottom: 2px solid #553C4B;
	border-right: 2px solid #553C4B;
}

.content-slider{
	float: left;
	width: 100%;
	margin-top: 27px;
	position: relative;
}

.carusel-tab{
	float: left;
}

.nav{
	float: left;
}

.nav li{
	float: left;
	width: 222px;
	margin-right: 20px;
	position: relative;
	text-align: center;
}

.nav li .title{
    color: #fff;
    float: left;
    font: 20px 'Calibri';
    margin-top: 66px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.nav li .title span{
	border-bottom: 1px dashed;
}

.dropbox li a,
.nav li p {
    color: #fff;
    float: left;
    font: 16px 'Calibri-Light';
    margin-top: 15px;
}

.nav .first{
	background: url(../images/img1.png) no-repeat center 6px;
}

.nav .second{
	background: url(../images/img2.png) no-repeat center top;
}

.nav .third{
	background: url(../images/img3.png) no-repeat center 7px;
}

.nav .average{
	background: url(../images/img4.png) no-repeat center 5px;
}

.nav .five{
	background: url(../images/img5.png) no-repeat center 13px;
}

.nav .title span:hover{
	border-bottom: none;
}

.arrow-button{
	background: url(../images/ico/arrow-pop.png) no-repeat;
	display: block;
    height: 9px;
    left: 102px;
    position: absolute;
    top: 165px;
    width: 19px;
}

.dropbox {
	background: #6F4F63;
    padding-bottom: 5px;
    left: -24px;
    position: absolute;
    top: 173px;
    width: 270px;
    z-index: 120;
	visibility: hidden;
}

.dropbox li{
	background: url(../images/ico/point-yellow.png) no-repeat center 7px;
	width: 100%;
	float: left;
	margin-top: 2px;
}

.dropbox li a{
	text-decoration: none;
}

.pagination-main{
	top:188px;
    left: 463px;
    position: absolute;
}

.pagination-main a{
	background: url(../images/ico/pag-main.png) no-repeat;
	float: left;
	width: 20px;
	height: 20px;
	font-size: 0;
	margin: 0 3px;
}

.pagination-main .selected{
	background-position: -29px 0;
}

/*---Content---*/

.container{
	background: url(../images/container.jpg) no-repeat center 423px;
	height: 1326px;
}

.case {
    float: left;
    margin-top: 58px;
}

.promo{
	float: left;
	background: #fff url(../images/girls1.jpg) no-repeat;
	border: 1px solid #DEDEDE;
	width: 467px;
	height: 305px;
	position: relative;
}

.promo:after,
.promo:before{
	background: url(../images/figure-bf.png) no-repeat;
	content: "";
    height: 118px;
    position: absolute;
    top: 58px;
    width: 31px;
}

.promo:before{
	left: -12px;
}

.promo:after{
	background: url(../images/figure-aft.png) no-repeat;
	right: -12px;
    top: 117px;
}

.promo h3{
	background: url(../images/figure-title.png) no-repeat;
	color: #fff;
    font: 22px 'PTSans-NarrowBold';
    height: 67px;
    left: 85px;
    position: absolute;
    text-align: center;
	padding-top: 22px;
    text-transform: uppercase;
    top: -32px;
    width: 357px;
}

.grid-box{
	background: rgba(255,255,255, 0.7);
	float: right;
    margin-top: 217px;
	min-height: 88px;
    width: 327px;
}

.grid-box p{
	font: 22px 'PTSans-NarrowBold';
	text-transform: uppercase;
	padding-left: 21px;
	color: #6F4F63;
}

.grid-box span{
	color: #FD0271;
}

.promo.second{
	background: url(../images/bg-man.jpg) no-repeat;
	margin-left: 50px;
}

.promo.second h3{
	background: url(../images/title-second.png) no-repeat;
}

.promo.second:before{
	background: url(../images/second-bf.png) no-repeat;
	top: 117px;
}

.promo.second:after{
	background: url(../images/second-af.png) no-repeat;
	top: 58px;
}

.box{
	margin-top: 172px;
	float: left;
	width: 100%;
}

.form-data{
	background: rgba(255,255,255, 0.4);
	float: left;
	width: 300px;
	position: relative;
	height: 265px;
}

.form-data.registr{
	
	float: right;
}

.gray-bg{
	background: url(../images/bg-gray.png) no-repeat;
	height: 104px;
	width: 300px;
	position: absolute;
	top: -104px;
	left: 0;
}

.gray-bg p {
    color: #403c3c;
    font: 20px 'PTSans-NarrowBold';
    margin: 69px 30px 0 0;
    text-align: right;
    text-transform: uppercase;
}

.gray-bg:before{
	content:"";
	background: url(../images/clue1.png) no-repeat;
	content: "";
    height: 103px;
    position: absolute;
	z-index: 5;
    top: 4px;
	left: 15px;
    width: 76px;
}

.form-fields{
	background: #724D62;
	float: left;
	width: 100%;
	min-height: 232px;
	position: relative;
}

.form-fields p {
    color: #fff;
    float: left;
    font: 11.9px 'Calibri-Light';
    margin: 16px 0 5px 15px;
}

.field{
	background: #fff url(../images/ico/icon-man.png) no-repeat 209px 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	color: #4b4848;
    font: 18px 'Calibri-Light';
    height: 40px;
    margin: 8px 0 0 33px;
    padding-left: 9px;
	float: left;
    width: 226px;
}

.field.password{
	background: #fff url(../images/ico/icon-key.png) no-repeat 209px 13px;
}

.form-fields a{
	font: 14px 'Calibri-Light';
	text-decoration: none;
	margin: 4px 32px 0 0;
	float: right;
	color: #fff;
}

.form-fields a:hover{
	text-decoration: underline;
}

.enter-button{
	background: #FFA235;
	border-bottom: 3px solid #F28B1E;
    color: #fff;
    cursor: pointer;
    font: 18px/42px 'PTSans-NarrowBold';
    height: 43px;
    text-align: center;
    text-transform: uppercase;
    width: 235px;
	position: absolute;
	top: 213px;
	left: 33px;
}

.enter-button:hover{
	background: #FF9A27;
	border-bottom: 3px solid #E18D2C;
}

.registr .gray-bg{
	background: url(../images/scnd-gray.png) no-repeat;
}

.registr .gray-bg:before{
	background: url(../images/clue2.png) no-repeat;
	left: 210px;
}

.registr .gray-bg p{
	text-align: left;
	margin-left: 34px;
}

.registr .field{
	margin-top: 10px;
}

.field.mail{
	background: #fff url(../images/ico/icon-mail.jpg) no-repeat 205px 16px;
}

.field .phone{
	background: #fff url(../images/ico/icon-phone.jpg) no-repeat 207px 11px;
}

.advantage{
	margin-top: 57px;
}

.advantage span{
	background: #724D62;
	padding: 0 4px;
	border-bottom: 1px solid #FFA235;
	border-right: 1px solid #FFA235;
}

.container-slider{
	background: url(../images/slider-bg.png) no-repeat top center;
	height: 324px;
}

.security{
	background: url(../images/ico/gal.png) no-repeat 410px top;
	font: 18px 'PTSans-NarrowBold';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	float: left;
	width: 100%;
}

.slider-block{
	float: left;
	margin-top: 22px;
	position: relative;
	width: 100%;
}

.slider-text{
	width: 286px;
	float: left;
	margin-right: 60px;
}

.slider-text h4{
	font: 16px 'Calibri';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.slider-text .safety{
	background: #FFA236;
	padding: 0 4px;
	border-bottom: 1px solid #4A2B3D;
	border-right: 1px solid #4A2B3D;
}

.slider-text p {
    color: #fff;
    float: left;
    font: 16px/16px 'Calibri';
    margin: 4px 0 0 13px;
    text-indent: 36px;
}

.slider-text.last{
	margin-right: 0;
}

.slider-text .point{
	margin: 5px 0 0 107px;
}

.slider-carusel{
	float: left;
	width: 1000px;
}

.service {
	text-shadow: 1px 1px 2px black;
    color: #fff;
    float: left;
    font: 16px 'Calibri';
    text-align: center;
    width: 100%;
}

.pagination-list {
    float: left;
    margin: 8px 0 0 420px;
}

.pagination-list li{
	float: left;
}

.pagination-list a{
	background: url(../images/bg-pagination.png) no-repeat top center;
	float: left;
    height: 34px;
    text-align: center;
	font: 18px 'PTSans-NarrowBold';
	text-decoration: none;
	padding-top: 6px;
	margin-right: 20px;
	color: #BBAAB4;
    width: 40px;
	position: relative;
}

.pagination-list a:after{
	background: url(../images/ln.png) no-repeat top right;
	content: "";
    height: 1px;
    position: absolute;
    right: -20px;
    top: 19px;
    width: 20px;
}

.pagination-list .selected{
	background: url(../images/bg-selected.png) no-repeat top center;
	color: #fff;
}

.pagination-list a:last-child:after{
	background: none;
}

.content-bottom{
	background: url(../images/bg-table.png) no-repeat center -19px;
	height: 852px;
}

.block-rate {
    border: 2px solid #ffa235;
    margin-top: 36px;
    width: 100%;
	float: left;
	position: relative;
}

.block-rate h3{
	background: #fff;
	color: #1a0505;
    font: 26px 'PTSans-NarrowBold';
    left: 345px;
    padding: 0 51px;
    position: absolute;
    text-transform: uppercase;
    top: -19px;
}

.block-rate span{
	background: url(../images/bg-rate.png) no-repeat center 7px;
	padding: 0 4px;
	color: #fff;
}

/*---table---*/

.prices{
	background: #f9f9f9;
	width: 915px;
	margin: 32px auto;
	color: #555454;
	font: bold 16px 'Calibri';
}
.prices th{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding: 25px 0 23px;
}
.prices th:first-child{
	background: #969292;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
}
.prices th:first-child+*, 
.prices th:first-child+*+*+*{background: #f5a141;}
.prices th:first-child+*+*, 
.prices th:first-child+*+*+*+*{
	background: rgb(145,109,134); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(145,109,134,1) 0%, rgba(105,78,97,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(145,109,134,1)), color-stop(100%,rgba(105,78,97,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(145,109,134,1) 0%,rgba(105,78,97,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(145,109,134,1) 0%,rgba(105,78,97,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(145,109,134,1) 0%,rgba(105,78,97,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(145,109,134,1) 0%,rgba(105,78,97,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#916d86', endColorstr='#694e61',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
} 
.prices td{
	text-align: center;
	border-bottom: 1px dotted #000;
	border-left: 1px dotted #000;
	vertical-align: middle;
	height: 44px;
}
.prices tr td:first-child{
	border-left: none;
	text-align: left;
	line-height: 18px;
	padding-left: 15px;
	width: 320px;
}
.prices tr:nth-of-type(odd) td,
.prices tr:first-child td, 
.prices tr:first-child td,
.prices tr:first-child td,
.prices tr:first-child td,
.prices tr:first-child td,
.prices tr:first-child td,
.prices tr:first-child td{
	background: #f1f1f1;
}
.prices span{
	background: none;
	color: #694e61;
	font-size: 26px;
	display: block;
}
.prices  span.red{color: #eb1159;}
.pre-last-row td, .last-row td, .prices span{
	font-style: italic;
}
.pre-last-row td, .last-row td{font-weight: normal;}
.pre-last-row td{
	font-size: 22px;
	height: 78px;
}
.last-row{
	border-top: 4px solid #694e61;
	border-bottom: 4px solid #e2e1e1;
}
.last-row td{
	font-size: 18px;
	height: 111px;
	position: relative;
}
.last-row td:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 45%;
	top: 0;
	border-color: #694e61 transparent transparent transparent;
	border-width: 5px 7px 0 7px;
	border-style: solid;
}
.last-row td:first-child:before{display: none;}
.last-row span{margin-top: 15px;}
.prices+h4{
	font-size: 22px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
	h4+.prices{margin-top: 6px;}
	h4+.prices td{
	border-bottom: none;
}
	h4+.prices td:first-child+*+*{border-left: none;}
	h4+.prices td:first-child+*+*, 
	h4+.prices td:first-child+*+*+*{
	background: #f9f9f9;
}

/*---Footer---*/

.footer{
	background: #724D62;
	border-top: 2px solid #FFA235;
	height: 74px;
	width: 100%;
	float: left;
}

.pull-left {
    float: left;
    margin-top: 9px;
}

.pull-left img{
	width: 83px;
	height: 54px;
}

.pull-right {
    float: right;
    margin-top: 18px;
}

.pull-right p{
	background: url(../images/ico/ico-mail.png) no-repeat left 15px;
	padding-left: 38px;
	font: 26px 'PTSans-NarrowBold';
	margin-left: 50px;
	color: #D1D1D1;
	float: left;
}

.pull-right p:nth-child(1){
	background: url(../images/ico/ico-phone.png) no-repeat left 12px;
}

/*---Inner---*/

.description{
	float: left;
	width: 100%;
	margin-top: 25px;
}

.desc-title{
	font: bold 48px 'Calibri';
	color: #FFA235;
}

.text-description{
	float: left;
	margin-top: 5px;
	width: 100%;
}

.text-description p{
	color: #343433;
	font: 18px 'Calibri';
	margin-bottom: 25px;
}

.img-desc img{
	width: 430px;
	height: 322px;
	margin-bottom: 15px;
}

.menu-list{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.menu-list li p{
	font: 24px 'Calibri';
	color: #FFA235;
}

#content-slider_list_carousel > div{
	padding-bottom: 180px !important;
	}
	
	
.popEvent#notice {
z-index: 650;
}
.popEvent {
position: fixed;
z-index: 550;
left: 50%;
top: 50%;
width: 700px;
margin-left: -350px;
}
.popEvent>.in {
border: 1px solid #ccc;
background: #fff;
padding: 15px 20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
zoom: 1;
-moz-box-shadow: 0 0 10px #888;
-webkit-box-shadow: 0 0 10px #888;
box-shadow: 0 0 10px #888;
}
.popEvent>.in {
position: relative;
width: 100%;
zoom: 1;
}
.popEvent .textMessage {
font-size: 24px;
text-align: center;
}
.popEvent>.shadow {
display: none;
}