[main]
<style type="text/css">

	
</style>
<script type="text/javascript">
notice("{text}");
</script>
[/main]
[nomain]
<div class="alert alert-{type}">
<div style="padding-left: 40%;">
<h4>{title}</h4>
{text}
</div>
</div>
[/nomain]