<form class="form-signin" method="POST">
<h2 class="form-signin-heading">Авторизация</h2>
<input type="text" class="input-block-level"  name="user" autofocus="true" placeholder="Логин">
<input type="password" class="input-block-level" name="pass" placeholder="Пароль">
<label class="checkbox">
<input type="checkbox" name="remember-me" value="1" /> Запомнить
</label>
<input type="hidden" value="login" name="action" />
<button class="btn btn-large btn-primary" type="submit" name="login">Войти</button>
</form>
   <style type="text/css">body{padding-top:40px;padding-bottom:40px;background-color:#f5f5f5;}.form-signin{max-width:300px;padding:19px 29px 29px;margin:0 auto 20px;background-color:#fff;border:1px solid #e5e5e5;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05);}.form-signin .form-signin-heading,.form-signin .checkbox{margin-bottom:10px;}.form-signin input[type="text"],.form-signin input[type="password"]{font-size:16px;height:auto;margin-bottom:15px;padding:7px 9px;}</style>
<form class="form-signin" role="form" method="POST" onsubmit="javascript:showloading();">
        <h2 class="form-signin-heading">Регистрация</h2>
        <input type="text" class="form-control" name="user" id="user" placeholder="ФИО"  autofocus>
        <input type="text" class="form-control" name="email" id="email" placeholder="E-mail"  />
        <input type="text" class="form-control" name="phone" placeholder="Контактный телефон" />
        <input type="hidden" name="action" value="register" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">Sign in</button>
      </form>
    


