<h4 style="font-family: verdana; font-size: 12px;"><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;">Вас приветствует компания "РИТ Групп".</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;">Благодарим Вас за регистрацию на нашем сервисе, и надеемся, что пользование им будет для Вас максимально комфортным.</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;">Ваш личный кабинет находится по адресу&nbsp;</span><a href="http://cloud.rit-group.ru/" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" target="_blank">http://cloud.rit-group.ru/</a><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;">&nbsp;</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; font-weight: normal; background-color: #ffffff;">Логин и пароль для доступа к Личному кабинету на нашем сайте:</span></h4>
<ul style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">
	
<li style="margin-left: 15px;">Логин:&nbsp;<b>{login}</b></li>
	
<li style="margin-left: 15px;">Пароль:&nbsp;<b style="font-family: Tahoma;">{pass}</b></li>
</ul>
<p><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Обратите внимание: логин и пароль хранятся в зашифрованном виде на сайте, они доступны только Вам.</span></p>
<p style="font-family: arial, sans-serif; font-size: 13px; color: #222222; background-color: #ffffff;"><b>После обработки сервером Ваш аккаунт станет активным.</b></p>
<p><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Как правило, это занимает менее одной минуты.</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<b style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Как начать пользоваться программой?</b><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Скачайте один из ярлыков к себе на компьютер:</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br/><a href="http://cloud.rit-group.ru/?do=connect" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" target="_blank">Через удаленный рабочий стол</a><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br/><a href="http://cloud.rit-group.ru/?do=connect&amp;file=local" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" target="_blank">Локально к программе 1С 8.3</a><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br/><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Ярлык для подключения можно скачать также из своего&nbsp;</span><a href="http://cloud.rit-group.ru/" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" target="_blank">Личного кабинета</a><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Логин и пароль используются те, которые Вы указали при регистрации.</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<font style="font-family: arial, sans-serif; color: #694e61; font-size: 18px; background-color: #ffffff;">Остались вопросы, не получилось подключиться?<br />
	Пишите и мы всегда оперативно поможем Вам.</font><span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">&nbsp;</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />

	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Как добавить новую базу в 1С? &nbsp;</span><a href="http://cloud.rit-group.ru/download/SodanieBazyV1C.pdf" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" target="_blank">Скачайте подробную инструкцию</a><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	

<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">C уважением, служба технической поддержки компании "РИТ Групп".</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">Вы можете связаться с нами по телефону +7 (495) 617-61-37,</span><br style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" />
	<span style="color: #222222; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;">отправив свой запрос на адрес&nbsp;</span><a href="mailto:cloud@rit-group.ru" style="color: #1155cc; font-family: arial, sans-serif; font-size: 13px; background-color: #ffffff;" target="_blank">cloud@rit-group.ru</a></p>