<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
   <link href="{THEME}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
      <link href="{THEME}/bootstrap/css/datepicker.css" rel="stylesheet" media="screen" />
<style type="text/css">
	.clear-form{
	background-color:#ffffff;
	border-top:white;
	
	}
	#load-screen {
    width: 100%;
    height: 100%;
    background: url("http://vkrandom.ru/templates/Random/images/loading.gif") no-repeat center center #fff;
    position: fixed;
    z-index: 9990;
	opacity: 0.7;
	}
	body{
    background-color:cayan;
}
.popEvent#notice {
z-index: 650;
}
.popEvent {
position: fixed;
z-index: 550;
left: 50%;
top: 50%;
width: 700px;
margin-left: -350px;
}
.popEvent>.in {ip ad
border: 1px solid #ccc;
background: #fff;
padding: 15px 20px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
zoom: 1;
-moz-box-shadow: 0 0 10px #888;
-webkit-box-shadow: 0 0 10px #888;
box-shadow: 0 0 10px #888;
}
.popEvent>.in {
position: relative;
width: 100%;
zoom: 1;
}
.popEvent .textMessage {
font-size: 24px;
text-align: center;
}
.popEvent>.shadow {
display: none;
}

</style>
</head>

<body>
<div id="load-screen" style="display:none;"></div>
<div class="container">
<ul class="nav nav-pills">{menu}</ul>
{info}
{content}
</div>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="{THEME}/bootstrap/js/bootstrap.min.js"></script>
<script src="{THEME}/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="{THEME}/functions.js" type="text/javascript"></script>
<script src="{THEME}/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
<div id="notice" class="popEvent" style="z-index:22222;margin-top:-30px;text-align:center;width:500px;margin-left:-250px;display:none;">
<div class="in">
    <div class="textMessage"></div>
</div><div class="shadow">&nbsp;</div></div>
</body>
</html>