<tr ><td style="width:100px">{id-zakaz}</td><td>{tovar}</td><td>{price}</td><td>{uslugi}</td><td>{adress}</td><td>{phone}</td><td>{name}</td><td style="width: 80px;">{srok_dost}<br />{gr_srok_dost}</td><td>{zametki}</td><td><div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Действия
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {actions}
  </ul>
</div></td></tr>