<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Сервер</th>
        <th>Порт</th>
        <th>Папка пользователей</th>
        <th>Секретный код</th>
    </tr>
    </thead>
    <tr>
        <td>Старый клиентский сервер(Диск E)</td>
        <td>195.211.102.159</td>
        <td>50000</td>
        <td>E:\UserDirs</td>
        <td>50001</td>
    </tr>
    <tr>
        <td>Старый клиентский сервер(Диск S)</td>
        <td>195.211.102.159</td>
        <td>50000</td>
        <td>S:\UserDirs</td>
        <td>50002</td>
    </tr>
    <tr>
        <td>rit-vsrv-10</td>
        <td>195.211.101.215</td>
        <td>2230</td>
        <td>D:\UserDirs</td>
        <td>2230</td>
    </tr>
</table>