[user]
Количество оставшихся дней: {days_left} <br />
Количество пользователей: {curr_users} / {max_users} <br />
Места на диске: {quota} Gb<br /><br />
[/user]
[admin]
Всего компаний: {groups}<br />
Всего Места выделено: {size}Gb<br />
Активных пользователей: {users_active}<br />
Всего доступных: {users}<br /><br />
[/admin]
Скачай RDP файл: <a class="btn btn-info" href="{download}">Скачать RPD</a>