<table class="table table-condensed table-hover">
<thead>
<tr>
<th>Организация</th><th>Дата регистрации</th><th>Дата окончания действия услуги</th><th>ФИО контактного лица</th><th>Email</th><th>Телефон конт. лица</th><th>Пользователей<br /> активно/Доступно.</th><th>HDD</th>
</tr>
</thead>
{users}
</table>

<!-- /* ///огранизации, Дата регистрации, Дата окончания действия услуги, ФИО контактного лица, Телефон конт. лица */ -->
