<table class="table table-condensed table-hover">
<thead>
<tr>
<th>ID</th><th>Организация</th><th>Дата регистрации</th><th>ФИО</th><th>Email</th><th>Телефон</th><th>Срок действия</th><th>Пользователей<br> активно/Доступно.</th><th>HDD</th>
</tr>
</thead>
{users}
</table>